# There is example of some test from event study package

In [1]:
import numpy as np
import pandas as pd
from multiple_event import skewness_corrected_test, crude_dependence, multiple_cross_sectional_test
from single_event import single_t_test
from models import max_sharpe_rate_portfolio, min_risk_portfolio_model

## Close portfolio from datasets/close_portfolio.csv

In [2]:
close = pd.read_csv('data_import/datasets/close_portfolio.csv', index_col='time')

close['market'] = [close.iloc[i].sum() for i in range(len(close))]

close.index = pd.to_datetime(close.index)

date = pd.to_datetime('2022-02-24 07:00:00+00:00')

In [3]:
result_multiple_skew = skewness_corrected_test(portfolio=close, event_date=date, method='aar')

result_multiple_crude = crude_dependence(portfolio=close, event_date=date, method='aar')

result_multiple_cross_sectional = multiple_cross_sectional_test(portfolio=close, event_date=date, method='aar')

result_single_t_test = single_t_test(portfolio=close, event_date=date)

## Skewness test:

In [4]:
display(result_multiple_skew)

                                aar    t_stat   p_value  significant
time
2022-02-16 07:00:00+00:00  0.010339  2.040393  0.062164        False
2022-02-17 07:00:00+00:00 -0.002824 -0.769490  0.455358        False
2022-02-18 07:00:00+00:00 -0.011772 -2.124015  0.053429        False
2022-02-21 07:00:00+00:00 -0.028211 -2.799250  0.015051         True
2022-02-22 07:00:00+00:00 -0.008669 -0.660563  0.520426        False
2022-02-24 07:00:00+00:00 -0.088492 -3.677140  0.002789         True
2022-02-25 07:00:00+00:00  0.010676  0.587631  0.566848        False
2022-03-24 07:00:00+00:00 -0.045823 -1.940035  0.074382        False
2022-03-25 07:00:00+00:00 -0.029253 -1.996353  0.067278        False
2022-03-28 07:00:00+00:00 -0.025916 -1.242010  0.236173        False

## Crude-dependence test:

In [5]:
display(result_multiple_crude)

                                aar     t_stat       p_value  significant
time
2022-02-16 07:00:00+00:00  0.009474   3.160880  1.960514e-03         True
2022-02-17 07:00:00+00:00 -0.003690  -1.231043  2.205466e-01        False
2022-02-18 07:00:00+00:00 -0.012638  -4.216717  4.630534e-05         True
2022-02-21 07:00:00+00:00 -0.029077  -9.701544  0.000000e+00         True
2022-02-22 07:00:00+00:00 -0.009534  -3.181176  1.837578e-03         True
2022-02-24 07:00:00+00:00 -0.089358 -29.814476  0.000000e+00         True
2022-02-25 07:00:00+00:00  0.009810   3.273081  1.365469e-03         True
2022-03-24 07:00:00+00:00 -0.046689 -15.578006  0.000000e+00         True
2022-03-25 07:00:00+00:00 -0.030119 -10.049318  0.000000e+00         True
2022-03-28 07:00:00+00:00 -0.026782  -8.935892  3.552714e-15         True

## Cross-sectional-test:

In [6]:
display(result_multiple_cross_sectional)

                                AAR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.011630  2.114723  0.027170        False   -5
2022-02-17 07:00:00+00:00 -0.001534 -0.480621  0.319387        False   -4
2022-02-18 07:00:00+00:00 -0.010482 -2.171911  0.024478         True   -3
2022-02-21 07:00:00+00:00 -0.026921 -2.439034  0.014910         True   -2
2022-02-22 07:00:00+00:00 -0.007378 -0.580000  0.285915        False   -1
2022-02-24 07:00:00+00:00 -0.087202 -3.583852  0.001667         True    0
2022-02-25 07:00:00+00:00  0.011966  0.673083  0.256341        False    1
2022-03-24 07:00:00+00:00 -0.044533 -1.865116  0.042446        False    2
2022-03-25 07:00:00+00:00 -0.027963 -1.723035  0.054284        False    3
2022-03-28 07:00:00+00:00 -0.024626 -1.119031  0.141689        False    4

## T-test for ecah stock in portfolio:

In [7]:
for i in range(len(result_single_t_test)):

    print(' ')

    print(close.columns[i])

    display(result_single_t_test[i])
    
    print('___________________________________________________________________________')

SBERP

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.014503  0.939034  3.496152e-01        False   -5
2022-02-17 07:00:00+00:00 -0.006286 -0.407020  6.847247e-01        False   -4
2022-02-18 07:00:00+00:00 -0.008765 -0.567559  5.714040e-01        False   -3
2022-02-21 07:00:00+00:00 -0.069840 -4.522135  1.457003e-05         True   -2
2022-02-22 07:00:00+00:00 -0.016502 -1.068514  2.874516e-01        False   -1
2022-02-24 07:00:00+00:00 -0.111183 -7.199073  5.920398e-11         True    0
2022-02-25 07:00:00+00:00 -0.050113 -3.244801  1.526187e-03         True    1
2022-03-24 07:00:00+00:00 -0.060685 -3.929300  1.434286e-04         True    2
2022-03-25 07:00:00+00:00 -0.018167 -1.176296  2.418243e-01        False    3
2022-03-28 07:00:00+00:00  0.008827  0.571525  5.687216e-01        False    4

___________________________________________________________________________

LKOH

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00 -0.022634 -1.772618  7.885086e-02        False   -5
2022-02-17 07:00:00+00:00 -0.023132 -1.811605  7.256920e-02        False   -4
2022-02-18 07:00:00+00:00 -0.037725 -2.954462  3.776154e-03         True   -3
2022-02-21 07:00:00+00:00 -0.028210 -2.209272  2.907020e-02         True   -2
2022-02-22 07:00:00+00:00 -0.036748 -2.877960  4.746079e-03         True   -1
2022-02-24 07:00:00+00:00 -0.055989 -4.384785  2.520874e-05         True    0
2022-02-25 07:00:00+00:00 -0.000502 -0.039307  9.687114e-01        False    1
2022-03-24 07:00:00+00:00  0.029092  2.278333  2.449056e-02         True    2
2022-03-25 07:00:00+00:00 -0.068110 -5.334072  4.643912e-07         True    3
2022-03-28 07:00:00+00:00 -0.006967 -0.545645  5.863311e-01        False    4

___________________________________________________________________________

GAZP

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.021826  1.237707  2.182612e-01        False   -5
2022-02-17 07:00:00+00:00  0.018292  1.037310  3.016945e-01        False   -4
2022-02-18 07:00:00+00:00  0.003299  0.187095  8.519050e-01        False   -3
2022-02-21 07:00:00+00:00 -0.028776 -1.631834  1.053581e-01        False   -2
2022-02-22 07:00:00+00:00  0.044974  2.550374  1.203004e-02         True   -1
2022-02-24 07:00:00+00:00  0.015931  0.903397  3.681404e-01        False    0
2022-02-25 07:00:00+00:00  0.049745  2.820914  5.612573e-03         True    1
2022-03-24 07:00:00+00:00  0.046868  2.657800  8.946105e-03         True    2
2022-03-25 07:00:00+00:00 -0.093853 -5.322154  4.896394e-07         True    3
2022-03-28 07:00:00+00:00  0.018622  1.055993  2.931105e-01        False    4

___________________________________________________________________________

FIVE

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.040702  2.796403  6.027448e-03         True   -5
2022-02-17 07:00:00+00:00  0.005912  0.406208  6.853194e-01        False   -4
2022-02-18 07:00:00+00:00 -0.015349 -1.054527  2.937781e-01        False   -3
2022-02-21 07:00:00+00:00 -0.046268 -3.178835  1.884873e-03         True   -2
2022-02-22 07:00:00+00:00  0.061095  4.197457  5.231750e-05         True   -1
2022-02-24 07:00:00+00:00 -0.092247 -6.337745  4.334854e-09         True    0
2022-02-25 07:00:00+00:00 -0.107608 -7.393112  2.187606e-11         True    1
2022-03-24 07:00:00+00:00 -0.068647 -4.716314  6.592840e-06         True    2
2022-03-25 07:00:00+00:00  0.006742  0.463189  6.440751e-01        False    3
2022-03-28 07:00:00+00:00  0.024829  1.705878  9.063957e-02        False    4

___________________________________________________________________________

YNDX

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.027695  1.198882  2.329557e-01        False   -5
2022-02-17 07:00:00+00:00 -0.022157 -0.959169  3.394182e-01        False   -4
2022-02-18 07:00:00+00:00 -0.043132 -1.867150  6.434132e-02        False   -3
2022-02-21 07:00:00+00:00  0.004251  0.184030  8.543028e-01        False   -2
2022-02-22 07:00:00+00:00 -0.031435 -1.360781  1.761547e-01        False   -1
2022-02-24 07:00:00+00:00 -0.121457 -5.257734  6.511142e-07         True    0
2022-02-25 07:00:00+00:00 -0.070595 -3.055991  2.769734e-03         True    1
2022-03-24 07:00:00+00:00 -0.088359 -3.824975  2.097911e-04         True    2
2022-03-25 07:00:00+00:00  0.018357  0.794656  4.283953e-01        False    3
2022-03-28 07:00:00+00:00  0.043961  1.903019  5.945412e-02        False    4

___________________________________________________________________________

SMLT

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00 -0.005956 -0.212238  8.322847e-01        False   -5
2022-02-17 07:00:00+00:00 -0.016880 -0.601536  5.486271e-01        False   -4
2022-02-18 07:00:00+00:00  0.033624  1.198213  2.332150e-01        False   -3
2022-02-21 07:00:00+00:00  0.034535  1.230707  2.208594e-01        False   -2
2022-02-22 07:00:00+00:00 -0.129702 -4.622066  9.712869e-06         True   -1
2022-02-24 07:00:00+00:00 -0.219141 -7.809350  2.511102e-12         True    0
2022-02-25 07:00:00+00:00  0.073067  2.603832  1.039266e-02         True    1
2022-03-24 07:00:00+00:00 -0.074535 -2.656145  8.987620e-03         True    2
2022-03-25 07:00:00+00:00  0.005897  0.210140  8.339177e-01        False    3
2022-03-28 07:00:00+00:00 -0.231783 -8.259867  2.322587e-13         True    4

___________________________________________________________________________

SVAV

                                 AR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00 -0.001048 -0.055090  0.956159        False   -5
2022-02-17 07:00:00+00:00  0.011642  0.611773  0.541855        False   -4
2022-02-18 07:00:00+00:00 -0.013347 -0.701357  0.484450        False   -3
2022-02-21 07:00:00+00:00 -0.005335 -0.280353  0.779693        False   -2
2022-02-22 07:00:00+00:00  0.021496  1.129614  0.260911        False   -1
2022-02-24 07:00:00+00:00  0.001106  0.058094  0.953771        False    0
2022-02-25 07:00:00+00:00 -0.004206 -0.221003  0.825469        False    1
2022-03-24 07:00:00+00:00 -0.045429 -2.387269  0.018549         True    2
2022-03-25 07:00:00+00:00  0.000192  0.010115  0.991946        False    3
2022-03-28 07:00:00+00:00 -0.040276 -2.116479  0.036388         True    4

___________________________________________________________________________

NVDA

                                 AR  t_stat  p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.022178     inf      0.0         True   -5
2022-02-17 07:00:00+00:00  0.022178     inf      0.0         True   -4
2022-02-18 07:00:00+00:00  0.022178     inf      0.0         True   -3
2022-02-21 07:00:00+00:00  0.022178     inf      0.0         True   -2
2022-02-22 07:00:00+00:00  0.022178     inf      0.0         True   -1
2022-02-24 07:00:00+00:00  0.022178     inf      0.0         True    0
2022-02-25 07:00:00+00:00  0.022178     inf      0.0         True    1
2022-03-24 07:00:00+00:00  0.022178     inf      0.0         True    2
2022-03-25 07:00:00+00:00  0.022178     inf      0.0         True    3
2022-03-28 07:00:00+00:00  0.022178     inf      0.0         True    4

___________________________________________________________________________

VTBR

                                 AR     t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.014974   1.014394  0.312453        False   -5
2022-02-17 07:00:00+00:00 -0.008311  -0.563024  0.574478        False   -4
2022-02-18 07:00:00+00:00 -0.023622  -1.600217  0.112202        False   -3
2022-02-21 07:00:00+00:00 -0.070520  -4.777118  0.000005         True   -2
2022-02-22 07:00:00+00:00 -0.011964  -0.810427  0.419313        False   -1
2022-02-24 07:00:00+00:00 -0.170387 -11.542295  0.000000         True    0
2022-02-25 07:00:00+00:00 -0.056573  -3.832314  0.000204         True    1
2022-03-24 07:00:00+00:00 -0.161284 -10.925662  0.000000         True    2
2022-03-25 07:00:00+00:00 -0.074471  -5.044762  0.000002         True    3
2022-03-28 07:00:00+00:00 -0.006139  -0.415865  0.678258        False    4

___________________________________________________________________________

TRMK

                                 AR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.018864  0.664383  0.507731        False   -5
2022-02-17 07:00:00+00:00  0.017789  0.626512  0.532179        False   -4
2022-02-18 07:00:00+00:00 -0.014233 -0.501267  0.617109        False   -3
2022-02-21 07:00:00+00:00  0.030798  1.084676  0.280258        False   -2
2022-02-22 07:00:00+00:00 -0.014093 -0.496341  0.620569        False   -1
2022-02-24 07:00:00+00:00 -0.075545 -2.660630  0.008876         True    0
2022-02-25 07:00:00+00:00  0.128350  4.520365  0.000015         True    1
2022-03-24 07:00:00+00:00 -0.078968 -2.781191  0.006299         True    2
2022-03-25 07:00:00+00:00  0.016198  0.570476  0.569431        False    3
2022-03-28 07:00:00+00:00 -0.052479 -1.848267  0.067046        False    4

___________________________________________________________________________

GMKN

                                 AR     t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00 -0.010821  -1.484453  0.140333        False   -5
2022-02-17 07:00:00+00:00  0.004248   0.582708  0.561193        False   -4
2022-02-18 07:00:00+00:00  0.004264   0.584937  0.559698        False   -3
2022-02-21 07:00:00+00:00 -0.002571  -0.352684  0.724949        False   -2
2022-02-22 07:00:00+00:00  0.027963   3.836081  0.000202         True   -1
2022-02-24 07:00:00+00:00  0.077779  10.670172  0.000000         True    0
2022-02-25 07:00:00+00:00 -0.005675  -0.778595  0.437763        False    1
2022-03-24 07:00:00+00:00  0.005043   0.691891  0.490354        False    2
2022-03-25 07:00:00+00:00  0.006807   0.933817  0.352289        False    3
2022-03-28 07:00:00+00:00  0.016468   2.259235  0.025689         True    4

___________________________________________________________________________

FEES

                                 AR     t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.010960   0.900054  3.699091e-01        False   -5
2022-02-17 07:00:00+00:00 -0.007826  -0.642676  5.216708e-01        False   -4
2022-02-18 07:00:00+00:00 -0.016436  -1.349737  1.796622e-01        False   -3
2022-02-21 07:00:00+00:00 -0.085807  -7.046548  1.286251e-10         True   -2
2022-02-22 07:00:00+00:00  0.003393   0.278619  7.810205e-01        False   -1
2022-02-24 07:00:00+00:00 -0.122643 -10.071600  0.000000e+00         True    0
2022-02-25 07:00:00+00:00  0.057689   4.737500  6.038935e-06         True    1
2022-03-24 07:00:00+00:00  0.114801   9.427603  4.440892e-16         True    2
2022-03-25 07:00:00+00:00 -0.039106  -3.211461  1.698659e-03         True    3
2022-03-28 07:00:00+00:00 -0.051367  -4.218311  4.828272e-05         True    4

___________________________________________________________________________

AFLT

                                 AR     t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.013110   0.950193  3.439402e-01        False   -5
2022-02-17 07:00:00+00:00 -0.015687  -1.136977  2.578321e-01        False   -4
2022-02-18 07:00:00+00:00 -0.024190  -1.753353  8.211632e-02        False   -3
2022-02-21 07:00:00+00:00 -0.089616  -6.495483  2.008776e-09         True   -2
2022-02-22 07:00:00+00:00  0.016119   1.168307  2.450184e-01        False   -1
2022-02-24 07:00:00+00:00 -0.122526  -8.880851  8.215650e-15         True    0
2022-02-25 07:00:00+00:00 -0.004616  -0.334574  7.385354e-01        False    1
2022-03-24 07:00:00+00:00 -0.229321 -16.621444  0.000000e+00         True    2
2022-03-25 07:00:00+00:00 -0.177015 -12.830271  0.000000e+00         True    3
2022-03-28 07:00:00+00:00  0.052545   3.808522  2.226168e-04         True    4

___________________________________________________________________________

FLOT

                                 AR     t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.004063   0.245076  8.068198e-01        False   -5
2022-02-17 07:00:00+00:00 -0.015651  -0.944100  3.470315e-01        False   -4
2022-02-18 07:00:00+00:00 -0.027712  -1.671706  9.720997e-02        False   -3
2022-02-21 07:00:00+00:00 -0.056109  -3.384702  9.656636e-04         True   -2
2022-02-22 07:00:00+00:00 -0.074470  -4.492276  1.642916e-05         True   -1
2022-02-24 07:00:00+00:00 -0.261100 -15.750496  0.000000e+00         True    0
2022-02-25 07:00:00+00:00  0.121982   7.358387  2.615996e-11         True    1
2022-03-24 07:00:00+00:00 -0.048620  -2.932949  4.028613e-03         True    2
2022-03-25 07:00:00+00:00 -0.011532  -0.695636  4.880131e-01        False    3
2022-03-28 07:00:00+00:00 -0.157581  -9.505885  2.220446e-16         True    4

___________________________________________________________________________

## Sharpe(Markowitz) optimization portfolio model

In [15]:
portfolio = close.iloc[:, :-1] # no include market

min_risk = min_risk_portfolio_model(portfolio=portfolio)

max_sharpe = max_sharpe_rate_portfolio(portfolio=portfolio)

### $\sigma \to \min$ propotions of shares in portfolio

In [17]:
min_risk[0]

,SBERP,LKOH,GAZP,FIVE,YNDX,SMLT,SVAV,VTBR,TRMK,GMKN,FEES,AFLT,FLOT
proportions,-0.024969,0.137975,0.018771,0.069838,-0.009114,-0.002959,0.127994,-0.227573,-0.007469,0.64203,-0.007962,0.170911,0.112527

### $\sigma \to \min$ return and risk

In [18]:
min_risk[1]

Params(ret=0.00030357259340160124, risk=0.01639510601995203)

### Sharpe ratio $U(r, \sigma) = \frac{r}{\sigma} \to \max$ proportions of shares in portfolio

In [19]:
max_sharpe[0]

,SBERP,LKOH,GAZP,FIVE,YNDX,SMLT,SVAV,VTBR,TRMK,GMKN,FEES,AFLT,FLOT
proportions,2.358617,1.562169,-0.140823,1.242308,-1.595526,0.474556,2.204853,-2.272113,2.087832,-3.11029,-1.381107,-1.041178,0.610702

### Sharpe ratio $U(r, \sigma) = \frac{r}{\sigma} \to \max$ return and risk

In [20]:
max_sharpe[1]

Params(ret=0.016976019813332945, risk=0.12260294031183765)