In [7]:
import numpy as np
import pandas as pd
from multiple_event import skewness_corrected_test, crude_dependence, multiple_cross_sectional_test
from single_event import single_t_test

In [8]:
close = pd.read_csv('data_import/datasets/close_portfolio.csv', index_col='time')

close['market'] = [close.iloc[i].sum() for i in range(len(close))]

close.index = pd.to_datetime(close.index)

date = pd.to_datetime('2022-02-24 07:00:00+00:00')

In [10]:
result_multiple_skew = skewness_corrected_test(portfolio=close, event_date=date, method='aar')

result_multiple_crude = crude_dependence(portfolio=close, event_date=date, method='aar')

result_multiple_cross_sectional = multiple_cross_sectional_test(portfolio=close, event_date=date, method='aar')

result_single_t_test = single_t_test(portfolio=close, event_date=date)

In [11]:
display(result_multiple_skew)

                                aar    t_stat   p_value  significant
time
2022-02-16 07:00:00+00:00  0.011277  2.353886  0.034972         True
2022-02-17 07:00:00+00:00 -0.001887 -0.477017  0.641269        False
2022-02-18 07:00:00+00:00 -0.010835 -2.175196  0.048662         True
2022-02-21 07:00:00+00:00 -0.027274 -2.722828  0.017419         True
2022-02-22 07:00:00+00:00 -0.007731 -0.563346  0.582786        False
2022-02-24 07:00:00+00:00 -0.087555 -3.512156  0.003824         True
2022-02-25 07:00:00+00:00  0.011613  0.642457  0.531744        False
2022-03-24 07:00:00+00:00 -0.044886 -1.953470  0.072627        False
2022-03-25 07:00:00+00:00 -0.028316 -1.888750  0.081440        False
2022-03-28 07:00:00+00:00 -0.024979 -1.149338  0.271124        False

In [12]:
display(result_multiple_crude)

                                aar     t_stat       p_value  significant
time
2022-02-16 07:00:00+00:00  0.012254   4.088417  7.591702e-05         True
2022-02-17 07:00:00+00:00 -0.000910  -0.303506  7.619935e-01        False
2022-02-18 07:00:00+00:00 -0.009858  -3.289179  1.295454e-03         True
2022-02-21 07:00:00+00:00 -0.026297  -8.774007  8.881784e-15         True
2022-02-22 07:00:00+00:00 -0.006754  -2.253639  2.590651e-02         True
2022-02-24 07:00:00+00:00 -0.086578 -28.886939  0.000000e+00         True
2022-02-25 07:00:00+00:00  0.012590   4.200618  4.929651e-05         True
2022-03-24 07:00:00+00:00 -0.043909 -14.650469  0.000000e+00         True
2022-03-25 07:00:00+00:00 -0.027339  -9.121781  1.332268e-15         True
2022-03-28 07:00:00+00:00 -0.024002  -8.008354  5.941914e-13         True

In [13]:
display(result_multiple_cross_sectional)

                                AAR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.005963  1.195206  0.126678        False   -5
2022-02-17 07:00:00+00:00 -0.007200 -1.428793  0.088325        False   -4
2022-02-18 07:00:00+00:00 -0.016148 -2.985650  0.005263         True   -3
2022-02-21 07:00:00+00:00 -0.032587 -2.807663  0.007405         True   -2
2022-02-22 07:00:00+00:00 -0.013045 -1.061310  0.153934        False   -1
2022-02-24 07:00:00+00:00 -0.092868 -3.921721  0.000876         True    0
2022-02-25 07:00:00+00:00  0.006300  0.309982  0.380744        False    1
2022-03-24 07:00:00+00:00 -0.050200 -2.114701  0.027171        False    2
2022-03-25 07:00:00+00:00 -0.033629 -2.025127  0.031947        False    3
2022-03-28 07:00:00+00:00 -0.030292 -1.532019  0.074742        False    4

In [16]:
for i in range(len(result_single_t_test)):
    print(close.columns[i])
    display(result_single_t_test[i])

SBERP

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00 -0.014329 -0.927779  3.554001e-01        False   -5
2022-02-17 07:00:00+00:00 -0.035117 -2.273833  2.476845e-02         True   -4
2022-02-18 07:00:00+00:00 -0.037597 -2.434372  1.640273e-02         True   -3
2022-02-21 07:00:00+00:00 -0.098672 -6.388949  3.380175e-09         True   -2
2022-02-22 07:00:00+00:00 -0.045334 -2.935327  3.999967e-03         True   -1
2022-02-24 07:00:00+00:00 -0.140015 -9.065886  3.108624e-15         True    0
2022-02-25 07:00:00+00:00 -0.078944 -5.111614  1.233835e-06         True    1
2022-03-24 07:00:00+00:00 -0.089516 -5.796114  5.680496e-08         True    2
2022-03-25 07:00:00+00:00 -0.046998 -3.043110  2.882008e-03         True    3
2022-03-28 07:00:00+00:00 -0.020005 -1.295288  1.977280e-01        False    4

LKOH

                                 AR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.010197  0.798547  0.426144        False   -5
2022-02-17 07:00:00+00:00  0.009699  0.759560  0.449020        False   -4
2022-02-18 07:00:00+00:00 -0.004894 -0.383297  0.702184        False   -3
2022-02-21 07:00:00+00:00  0.004621  0.361893  0.718074        False   -2
2022-02-22 07:00:00+00:00 -0.003917 -0.306795  0.759535        False   -1
2022-02-24 07:00:00+00:00 -0.023158 -1.813620  0.072256        False    0
2022-02-25 07:00:00+00:00  0.032329  2.531858  0.012649         True    1
2022-03-24 07:00:00+00:00  0.061922  4.849498  0.000004         True    2
2022-03-25 07:00:00+00:00 -0.035279 -2.762906  0.006640         True    3
2022-03-28 07:00:00+00:00  0.025864  2.025520  0.045051         True    4

GAZP

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.017947  1.017738  3.108672e-01        False   -5
2022-02-17 07:00:00+00:00  0.014413  0.817341  4.153669e-01        False   -4
2022-02-18 07:00:00+00:00 -0.000580 -0.032874  9.738298e-01        False   -3
2022-02-21 07:00:00+00:00 -0.032655 -1.851803  6.653278e-02        False   -2
2022-02-22 07:00:00+00:00  0.041095  2.330405  2.146881e-02         True   -1
2022-02-24 07:00:00+00:00  0.012052  0.683428  4.956651e-01        False    0
2022-02-25 07:00:00+00:00  0.045866  2.600944  1.047571e-02         True    1
2022-03-24 07:00:00+00:00  0.042989  2.437831  1.625419e-02         True    2
2022-03-25 07:00:00+00:00 -0.097732 -5.542123  1.823877e-07         True    3
2022-03-28 07:00:00+00:00  0.014743  0.836024  4.048170e-01        False    4

FIVE

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.037583  2.582085  1.103289e-02         True   -5
2022-02-17 07:00:00+00:00  0.002793  0.191889  8.481558e-01        False   -4
2022-02-18 07:00:00+00:00 -0.018468 -1.268845  2.069726e-01        False   -3
2022-02-21 07:00:00+00:00 -0.049388 -3.393153  9.389231e-04         True   -2
2022-02-22 07:00:00+00:00  0.057975  3.983139  1.175556e-04         True   -1
2022-02-24 07:00:00+00:00 -0.095366 -6.552063  1.521387e-09         True    0
2022-02-25 07:00:00+00:00 -0.110727 -7.607430  7.210010e-12         True    1
2022-03-24 07:00:00+00:00 -0.071766 -4.930632  2.684025e-06         True    2
2022-03-25 07:00:00+00:00  0.003622  0.248870  8.038901e-01        False    3
2022-03-28 07:00:00+00:00  0.021710  1.491559  1.384609e-01        False    4

YNDX

                                 AR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.030596  1.324456  0.187890        False   -5
2022-02-17 07:00:00+00:00 -0.019257 -0.833595  0.406179        False   -4
2022-02-18 07:00:00+00:00 -0.040231 -1.741576  0.084167        False   -3
2022-02-21 07:00:00+00:00  0.007152  0.309605  0.757403        False   -2
2022-02-22 07:00:00+00:00 -0.028534 -1.235206  0.219187        False   -1
2022-02-24 07:00:00+00:00 -0.118556 -5.132160  0.000001         True    0
2022-02-25 07:00:00+00:00 -0.067694 -2.930417  0.004059         True    1
2022-03-24 07:00:00+00:00 -0.085458 -3.699400  0.000329         True    2
2022-03-25 07:00:00+00:00  0.021258  0.920231  0.359314        False    3
2022-03-28 07:00:00+00:00  0.046862  2.028593  0.044732         True    4

SMLT

                                 AR    t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00 -0.006674 -0.237834  8.124191e-01        False   -5
2022-02-17 07:00:00+00:00 -0.017598 -0.627132  5.317739e-01        False   -4
2022-02-18 07:00:00+00:00  0.032905  1.172617  2.432915e-01        False   -3
2022-02-21 07:00:00+00:00  0.033817  1.205111  2.305514e-01        False   -2
2022-02-22 07:00:00+00:00 -0.130420 -4.647662  8.746901e-06         True   -1
2022-02-24 07:00:00+00:00 -0.219860 -7.834946  2.195577e-12         True    0
2022-02-25 07:00:00+00:00  0.072349  2.578236  1.114980e-02         True    1
2022-03-24 07:00:00+00:00 -0.075253 -2.681741  8.364783e-03         True    2
2022-03-25 07:00:00+00:00  0.005179  0.184544  8.539008e-01        False    3
2022-03-28 07:00:00+00:00 -0.232502 -8.285463  2.025047e-13         True    4

SVAV

                                 AR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.003944  0.207275  0.836149        False   -5
2022-02-17 07:00:00+00:00  0.016634  0.874138  0.383804        False   -4
2022-02-18 07:00:00+00:00 -0.008354 -0.438992  0.661464        False   -3
2022-02-21 07:00:00+00:00 -0.000342 -0.017988  0.985678        False   -2
2022-02-22 07:00:00+00:00  0.026489  1.391979  0.166525        False   -1
2022-02-24 07:00:00+00:00  0.006098  0.320459  0.749182        False    0
2022-02-25 07:00:00+00:00  0.000787  0.041363  0.967076        False    1
2022-03-24 07:00:00+00:00 -0.040436 -2.124904  0.035663         True    2
2022-03-25 07:00:00+00:00  0.005185  0.272481  0.785725        False    3
2022-03-28 07:00:00+00:00 -0.035283 -1.854113  0.066199        False    4

NVDA

                                 AR  t_stat  p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.011678     inf      0.0         True   -5
2022-02-17 07:00:00+00:00  0.011678     inf      0.0         True   -4
2022-02-18 07:00:00+00:00  0.011678     inf      0.0         True   -3
2022-02-21 07:00:00+00:00  0.011678     inf      0.0         True   -2
2022-02-22 07:00:00+00:00  0.011678     inf      0.0         True   -1
2022-02-24 07:00:00+00:00  0.011678     inf      0.0         True    0
2022-02-25 07:00:00+00:00  0.011678     inf      0.0         True    1
2022-03-24 07:00:00+00:00  0.011678     inf      0.0         True    2
2022-03-25 07:00:00+00:00  0.011678     inf      0.0         True    3
2022-03-28 07:00:00+00:00  0.011678     inf      0.0         True    4

VTBR

                                 AR     t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.031863   2.158454  0.032901         True   -5
2022-02-17 07:00:00+00:00  0.008577   0.581036  0.562315        False   -4
2022-02-18 07:00:00+00:00 -0.006734  -0.456157  0.649109        False   -3
2022-02-21 07:00:00+00:00 -0.053631  -3.633057  0.000415         True   -2
2022-02-22 07:00:00+00:00  0.004925   0.333633  0.739243        False   -1
2022-02-24 07:00:00+00:00 -0.153499 -10.398235  0.000000         True    0
2022-02-25 07:00:00+00:00 -0.039684  -2.688253  0.008213         True    1
2022-03-24 07:00:00+00:00 -0.144396  -9.781602  0.000000         True    2
2022-03-25 07:00:00+00:00 -0.057582  -3.900702  0.000159         True    3
2022-03-28 07:00:00+00:00  0.010750   0.728195  0.467925        False    4

TRMK

                                 AR    t_stat   p_value  significant  idx
time
2022-02-16 07:00:00+00:00 -0.008142 -0.286745  0.774807        False   -5
2022-02-17 07:00:00+00:00 -0.009217 -0.324616  0.746042        False   -4
2022-02-18 07:00:00+00:00 -0.041239 -1.452395  0.149024        False   -3
2022-02-21 07:00:00+00:00  0.003792  0.133549  0.893985        False   -2
2022-02-22 07:00:00+00:00 -0.041099 -1.447469  0.150395        False   -1
2022-02-24 07:00:00+00:00 -0.102551 -3.611757  0.000447         True    0
2022-02-25 07:00:00+00:00  0.101344  3.569238  0.000517         True    1
2022-03-24 07:00:00+00:00 -0.105974 -3.732319  0.000292         True    2
2022-03-25 07:00:00+00:00 -0.010808 -0.380652  0.704140        False    3
2022-03-28 07:00:00+00:00 -0.079485 -2.799395  0.005975         True    4

GMKN

                                 AR     t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.006168   0.846118  3.991854e-01        False   -5
2022-02-17 07:00:00+00:00  0.021236   2.913278  4.272960e-03         True   -4
2022-02-18 07:00:00+00:00  0.021252   2.915507  4.244600e-03         True   -3
2022-02-21 07:00:00+00:00  0.014418   1.977886  5.025258e-02        False   -2
2022-02-22 07:00:00+00:00  0.044951   6.166651  9.887192e-09         True   -1
2022-02-24 07:00:00+00:00  0.094767  13.000743  0.000000e+00         True    0
2022-02-25 07:00:00+00:00  0.011313   1.551975  1.233238e-01        False    1
2022-03-24 07:00:00+00:00  0.022032   3.022461  3.070790e-03         True    2
2022-03-25 07:00:00+00:00  0.023795   3.264387  1.432627e-03         True    3
2022-03-28 07:00:00+00:00  0.033457   4.589806  1.107806e-05         True    4

FEES

                                 AR     t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.029151   2.393882  1.823340e-02         True   -5
2022-02-17 07:00:00+00:00  0.010365   0.851151  3.963948e-01        False   -4
2022-02-18 07:00:00+00:00  0.001755   0.144090  8.856733e-01        False   -3
2022-02-21 07:00:00+00:00 -0.067616  -5.552721  1.738184e-07         True   -2
2022-02-22 07:00:00+00:00  0.021583   1.772447  7.887938e-02        False   -1
2022-02-24 07:00:00+00:00 -0.104453  -8.577773  4.241052e-14         True    0
2022-02-25 07:00:00+00:00  0.075880   6.231327  7.248337e-09         True    1
2022-03-24 07:00:00+00:00  0.132992  10.921430  0.000000e+00         True    2
2022-03-25 07:00:00+00:00 -0.020916  -1.717634  8.846452e-02        False    3
2022-03-28 07:00:00+00:00 -0.033176  -2.724484  7.411352e-03         True    4

AFLT

                                 AR     t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.008487   0.615141  5.396365e-01        False   -5
2022-02-17 07:00:00+00:00 -0.020309  -1.472029  1.436527e-01        False   -4
2022-02-18 07:00:00+00:00 -0.028813  -2.088405  3.889365e-02         True   -3
2022-02-21 07:00:00+00:00 -0.094239  -6.830535  3.818248e-10         True   -2
2022-02-22 07:00:00+00:00  0.011496   0.833254  4.063706e-01        False   -1
2022-02-24 07:00:00+00:00 -0.127149  -9.215903  1.332268e-15         True    0
2022-02-25 07:00:00+00:00 -0.009239  -0.669626  5.043934e-01        False    1
2022-03-24 07:00:00+00:00 -0.233943 -16.956496  0.000000e+00         True    2
2022-03-25 07:00:00+00:00 -0.181638 -13.165323  0.000000e+00         True    3
2022-03-28 07:00:00+00:00  0.047922   3.473470  7.172468e-04         True    4

FLOT

                                 AR     t_stat       p_value  significant  idx
time
2022-02-16 07:00:00+00:00  0.010706   0.645839  5.196271e-01        False   -5
2022-02-17 07:00:00+00:00 -0.009007  -0.543337  5.879143e-01        False   -4
2022-02-18 07:00:00+00:00 -0.021069  -1.270943  2.062280e-01        False   -3
2022-02-21 07:00:00+00:00 -0.049466  -2.983939  3.453824e-03         True   -2
2022-02-22 07:00:00+00:00 -0.067826  -4.091513  7.833807e-05         True   -1
2022-02-24 07:00:00+00:00 -0.254456 -15.349733  0.000000e+00         True    0
2022-02-25 07:00:00+00:00  0.128625   7.759151  3.266498e-12         True    1
2022-03-24 07:00:00+00:00 -0.041977  -2.532186  1.263781e-02         True    2
2022-03-25 07:00:00+00:00 -0.004888  -0.294873  7.686048e-01        False    3
2022-03-28 07:00:00+00:00 -0.150938  -9.105122  2.442491e-15         True    4